# smCore

/settings.php
/test.php
cache/*


# OS-generated

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


# Editor-specific

/*.sublime-project
*.sublime-workspace
*.esproj


# Other

*~
