[submodule "library/php-code-coverage"]
	path = library/php-code-coverage
	url = https://github.com/sebastianbergmann/php-code-coverage
[submodule "library/php-file-iterator"]
	path = library/php-file-iterator
	url = https://github.com/sebastianbergmann/php-file-iterator
[submodule "library/php-text-template"]
	path = library/php-text-template
	url = https://github.com/sebastianbergmann/php-text-template
[submodule "library/phpunit"]
	path = library/phpunit
	url = https://github.com/sebastianbergmann/phpunit
