body {
	padding: 0;
	margin: 0;
	font-size: smaller;
	}

* {
	color: black !important;
	background: none !important;
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	}

#header, #body_header, #footer, #body_footer, .noprint {
	display: none;
	visibility: hidden;
	}

.printonly {
	display: inherit;
	visibility: visible;
	}

#body_content {
	padding: 0;
	border: none !important;
	}

.with_header, .no_header {
	border: none !important;
	}

.header, .content {
	border: none !important;
	}

table {
	border-collapse: collapse;
	}

th, td {
	border: 1px solid black;
	}

input[type=submit], input[type=button], a.button {
	text-shadow: none;
	}

.breakafter {
	page-break-after: always;
	}