/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,
sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}
body {
	line-height: 1;
	}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
	display: block;
	}
ul {
	list-style: none;
	}
blockquote,q {
	quotes: none;
	}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
	}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
	}

/* ************************************* */
/* A few of our most basic areas...      */
/* ************************************* */

html {
	background: #f9f9f9;
	font: 88%/140% "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	min-width: 900px;
	}

#header {
	background: #3798cc;
	background-image: url(../images/svg/header.svg);
	background-image: -moz-linear-gradient(center top, #3798cc, #136a99);
	padding: 0 4em;
	}
#actionbar {
	background: #136a99;
	padding: 5px 8px;
	border: 1px solid #08527a;
	border-top: none;
	color: white;
	font-size: smaller;
	margin-bottom: .8em;
	}
#titlebar {
	z-index: 40;
	position: relative;
	border-top: 1px solid #00467a;
	border-bottom: 1px solid #ccc;
	padding: 8px 4em;
	background: #eeeeee;
	background: -moz-linear-gradient(center top, #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background: linear-gradient(top left 90deg, #ffffff 0%, #eaeaea 100%);
	}
#titlebar h1 {
	font-size: 1.2em;
	}

#content {
	padding: 1.2em 5em;
	background: #ffffff;
	min-height: 250px;
	}

#footer {
	padding: 1em 5em;
	border-top: 1px solid #ccc;
	font-size: smaller;
	text-align: right;
	}

div.noscript {
	background: #c20000;
	padding: 2em;
	font-size: 1.2em;
	color: white;
	text-align: center;
	}
div.noscript a {
	color: white;
	}
div.noscript p {
	padding: 0.5em;
	}
/* ************************************* */
/* Menu and Submenu                      */
/* ************************************* */

/* First level menu */
#menu {
	padding: 0 .7em;
	list-style: none;
	}
#menu li {
	display: inline-block;
	position: relative;
	}
#menu li a {
	display: inline-block;
	padding: 9px 12px;
	font-size: 1em;
	margin-bottom: -1px;
	text-decoration: none;
	color: #fafafa;
	margin-right: .7em;
	text-shadow: 1px 1px 1px #000000;
	}
#menu li a.active {
	background: #fff;
	z-index: 50;
	position: relative;
	border: 1px solid #00467A;
	border-bottom: none;
	color: #333;
	text-shadow: none;
	font-weight: bold;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	}
#menu li a:hover {
	text-decoration: underline;
	}
#menu li a.active:hover {
	text-decoration: none;
	}
/* Second level menu items */
#menu ul {
	position: absolute;
	left: -9999px;
	z-index: 60;
	background: white;
	border: 1px solid #ccc;
	width: 200px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	font-size: 0.8em;
	opacity: 0;

	-moz-transition: opacity 0.4s linear;
	-webkit-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
	}
#menu li:hover > ul {
	left: 5px;
	margin-top: -3px;
	opacity: 1;
	}
#menu ul li {
	display: block;
	}
#menu ul li a {
	color: black;
	text-shadow: none;
	display: block;
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 9px 7px 9px 26px;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	}
#menu ul li:last-of-type a {
	border-bottom: none;
	}
#menu ul li a:hover {
	background-color: #eee;
	text-decoration: none;
	}
#menu ul li.header {
	background: #ddd;
	color: #888;
	padding: 5px 7px 4px;
	border: none;
	text-transform: uppercase;
	font-size: 90%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
#menu ul span.alert {
	background-color: #c20000;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 0 4px;
	color: white;
	font-weight: bold;
	}
/* Third level menu items */
#menu ul ul {
	font-size: 1em;
	}
#menu ul li:hover ul {
	left: 200px;
	top: 0;
	margin-top: -1px;
	}

/* ************************************* */
/* Some basic stuff                      */
/* ************************************* */

body, td, th , tr {
	color: black;
	}
a:link, a:visited {
	color: #334466;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
img {
	vertical-align: middle;
	}
dl dt {
    float: left;
    font-weight: bold;
    margin: 0.5em 0 0;
    width: 8em;
    clear: both;
    padding-right: 1em;
	}
dl dt:first-child, dl dd:nth-child(2) {
	margin-top: 0;
	padding-top: 0;
	}
dl dd {
    float: left;
	display: inline-block;
    padding: 0.3em 0;
	}

/* ************************************* */
/* Tables                                */
/* ************************************* */

table {
	empty-cells: show;
	}

tr {
	}

th {
	padding: 5px;
	text-align: center;
	}

td {
	padding: 5px;
	text-align: left;
	}

/* ************************************* */
/* General site stuff                    */
/* ************************************* */

.bold {
	font-weight: bold;
	}

.center {
	text-align: center;
	}

.centered {
	margin: 0 auto;
	}

.left {
	text-align: left;
	}

.right {
	text-align: right;
	}

.smaller {
	font-size: smaller;
	}

.larger {
	font-size: larger;
	}

.floatleft {
	float: left;
	}

.floatright {
	float: right;
	}

.nowrap {
	white-space: nowrap;
	}

.hidden {
	display: none;
	}

.striped {
	border-spacing: 0;
	}

.editable {
	border: 1px solid #aeaeae;
	font-size: 1.5em;
	padding: 2px;
	}

.offset {
	margin-left: 15px;
	}

td.offset {
	margin-left: 0;
	padding-left: 15px;
	}

.forceleft td {
	text-align: left;
	white-space: nowrap;
	}

.nomargin {
	margin-left: 0;
	}

.pagination a {
	font-weight: bold;
	}

.pagination a:hover {
	color: black;
	text-decoration: none;
	}

.pagination a.current {
	font-size: larger;
	color: black;
	}

#password_strength {
	border: 1px solid #aeaeae;
	width: 120px;
	margin: 3px 5px 3px 7px;
	overflow: hidden;
	}

#password_strength div {
	width: 0%;
	font-size: x-small;
	padding: 0 3px;
	white-space: nowrap;
	}

#users_table input, #users_table_exempt input {
	margin: 3px 7px;
	}

.clear {
	visibility: hidden;
	display: block;
	height: 1px;
	clear: both;
	}

/* ************************************* */
/* The calendar page is complicated      */
/* ************************************* */

table.calendar {
	width: 100%;
	border-spacing: 1px;
	}
table.calendar th {
	background: none;
	border: none;
	font-weight: normal;
	color: #999;
	}
table.calendar td {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(center top , #fff, #eee);
	border: 1px solid #ddd;
	padding: 0;
	cursor: pointer;
	}
table.calendar td:hover {
	background-image: -moz-linear-gradient(center top, #fff, #ddd);
	}
table.calendar td:first-child, table.calendar td:last-child {
	background-color: #eee;
	background-image: -moz-linear-gradient(center top , #eee, #ddd);
	border: 1px solid #dadada;
	}
table.calendar td:first-child:hover, table.calendar td:last-child:hover {
	background-image: -moz-linear-gradient(center top , #eee, #ccc);
	}
table.calendar td.empty, table.calendar td.empty:hover {
	background: none;
	border: none;
	cursor: default;
	}
table.calendar div.date {
	text-align: right;
	font-size: 90%;
	color: #888;
	padding: 3px 3px 0 8px;
	}
table.calendar div.date span {
	float: left;
	}


table.calendar td.today {
	background-color: #b3d6f2;
	background-image: -moz-linear-gradient(center top , #b3d6f2, #95c1e2);
	border-color: #578fba;
	color: #144972;
	}
table.calendar td.today:hover {
	background-image: -moz-linear-gradient(center top , #b3d6f2, #6ea3cc);
	}
table.calendar td.today div.date {
	font-weight: bold;
	color: #144972;
	}

table.calendar div.info {
	padding: 5px 6px;
	font-size: 95%;
	}
table.calendar div.info div {
	padding: 4px 0;
	background: transparent no-repeat 0 50%;
	border-top: 1px solid #ccc;
	}
table.calendar div.info div:first-child {
	border-top: none;
	}
table.calendar div.info div.calendar-whiteboard_entries {
	background-image: url(../images/fatcow/16x16/legend.png);
	padding-left: 22px;
	}
table.calendar div.info div.calendar-time_vacation {
	background-image: url(../images/fatcow/16x16/pictures.png);
	padding-left: 22px;
	}
table.calendar div.info div.calendar-time_sick {
	background-image: url(../images/fatcow/16x16/health.png);
	padding-left: 22px;
	}
table.calendar div.info div.calendar-holidays {
	background-image: url(../images/fatcow/16x16/icecream.png);
	padding-left: 22px;
	}

table.calendar div.info div span {
	display: inline-block;
	white-space: nowrap;
	padding: 1px 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.4);
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
table.calendar div.info div span.special {
	font-weight: bold;
	}

/* ************************************* */
/* /b/                                   */
/* ************************************* */

input, textarea {
	border: 1px solid #aaa;
	}

input.error {
	-moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
	border-color: #ff9999;
	}

input[type=submit], input[type=reset], input[type=button], button, a.button, .ui-button .ui-button-text {
	font: 95% verdana, Helvetica, sans-serif;
	background-color: #eaeaea;
	border: 1px solid #aaa;
	background-image: -moz-linear-gradient(center top , #ffffff, #e0e0e0);
	color: black;
	padding: 3px 8px 4px;
	text-decoration: none;
	}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover, a.button:hover {
	background: #dadada;
	background-image: -moz-linear-gradient(center top , #ffffff, #d0d0d0);
	cursor: pointer;
	}

a.button.destructive {
	background-color: #ef9797;
	border: 1px solid #a04848;
	background-image: -moz-linear-gradient(center top , #fcd6d6, #ef9797);
	color: #6b1111;
	}

a.button.destructive:hover {
	background-color: #d66b6b;
	background-image: -moz-linear-gradient(center top , #fcd6d6, #e08282);
	}

/* Make them inline blocks, so they don't overhang. H4X0R! */
a.button {
	display: inline-block;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	}

table.settings td {
	background: none !important;
	}
.header {
	background: #eaeaea;
	background-image: -moz-linear-gradient(center top , #eee, #ddd);
	border: 1px solid #aaa;
	}
.header div {
	padding: 4px 10px;
	font-weight: bold;
	border: 1px solid #fff;
	}
.content_inner {
	padding: 1em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #ccc;
	background: #fafafa;
	background-image: -moz-linear-gradient(center top , #fff, #eee);
	}
.with_header .content_inner {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: none !important;
	}
.content {
	margin: 0 auto 1em;
	}

.striped {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	background: #fafafa;
	background-image: -moz-linear-gradient(center top , #fff, #eee);
	}

.striped th {
	background: #eaeaea;
	background-image: -moz-linear-gradient(center top , #eee, #ddd);
	border: 1px solid #aaa;
	padding: 0;
	}
.striped th div {
	padding: 4px 10px;
	font-weight: bold;
	border: 1px solid #fff;
	}
.striped tr:nth-child(2n+1) td:nth-child(2n+1) {
	}
.striped tr:nth-child(2n) td:nth-child(2n+1) {
	background: rgba(0, 0, 0, 0.04);
	}
.striped tr:nth-child(2n+1) td:nth-child(2n) {
	background: rgba(0, 0, 0, 0.04);
	}
.striped tr:nth-child(2n) td:nth-child(2n) {
	background: rgba(0, 0, 0, 0.08);
	}

.printonly {
	display: none;
	visibility: hidden;
	}

.game_card {
	width: 5em;
	padding: 0.5em;
	margin: 0.5em;
	-moz-border-radius: 5px;
	float: left;
	}
.game_card div {
	height: 7em;
	width: 5em;
	line-height: 7em;
	text-align: center;
	background: white;
	-moz-border-radius: 20px 0 20px 0;
	font-weight: bold;
	}
.game_card select {
	font-size: 2em;
	font-weight:  bold;
	}

div.progress_container {
	width: 95%;
	margin: 0 auto;
	height: 10px;
	border: 1px solid #444;
	border-radius: 5px;
	background: #dddddd;
	background-clip: padding-box;
	}
div.progress_container div {
	height: 10px;
	border-radius: 4px;
	background-clip: padding-box;
	border-right: 1px solid #888;
	width: 0;
	background: #81a8ce;
	}
div.progress_red {
	background: #ef5151 !important;
	}
div.progress_orange {
	background: #e09a4a !important;
	}
div.progress_yellow {
	background: #e0d34a !important;
	}

div.progress_light_green {
	background: #bedd40 !important;
	}
div.progress_green {
	background: #84dd40 !important;
	}

/* jQuery UI styles */

.ui-slider-range {
	background: #c2e2ef !important;
	}
.ui-state-hover .ui-slider-handle {
	background: #a7d3e8 !important;
	}

/* ************************************* */
/* Some important classes                */
/* ************************************* */

.whiteboard_entries .content_inner {
	padding-top: 0;
	padding-bottom: 0;
	}
.whiteboard_entries .name {
	font-weight: bold;
	font-size: 125%;
	}
.whiteboard_entries .name img {
	vertical-align: middle;
	}
.whiteboard_entries .time {
	font-size: 95%;
	}
.whiteboard_entries .description {
	font-size: 90%;
	}
.whiteboard_entry {
	position: relative;
	padding: 1em 0;
	border-top: 1px solid #ccc;
	}
.whiteboard_entry:first-child {
	border-top: none;
	}

span.action_buttons {
	position: absolute;
	top: 0;
	right: 0;
	word-spacing: -4px;
	float: right;
	display: inline-block;
	text-align: right;
	padding: 1em 0 1em 1em;
	overflow: hidden;
	background: transparent url(../images/fatcow/32x32/bullet_wrench.png) no-repeat 100% center;
	}
span.action_buttons a {
	display: inline-block;
	padding: 6px;
	background: #eee;
	border: 1px solid #ddd;
	text-decoration: none;
	float: left;
	margin-left: -1px;
	z-index: 50;
	position: relative;
	right: -500px;

	-moz-transition: right 0.4s linear;
	-webkit-transition: right 0.4s linear;
	transition: right 0.4s linear;
	}
span.action_buttons:hover a {
	right: 0;
	}
span.action_buttons a:hover {
	background-color: #ddd;
	border-color: #ccc;
	z-index: 60;
	}
span.action_buttons a:first-of-type {
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	}
span.action_buttons a:last-of-type {
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	}

.user_picker_button {
	margin: 0.5em 0.5em 0 0;
	font-size: smaller;
	padding-left: 0px;
	}
.user_picker_button span {
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-image: url(../images/fatcow/16x16/bullet_delete.png);
	}

.ui-colorpicker {
	position: absolute;
	width: 200px;
	}
.ui-colorpicker-table {
	width: 100%;
	cell-spacing: 0;
	}
.ui-colorpicker-td {
	height: 15px;
	cursor: pointer;
	}
.ui-colorpicker-input {
	border: 1px solid #aaa;
	cursor: pointer;
	}

/* Menu item backgrounds */
/* Top level gets two #id parts so that the background property has precedence */
#menu li #menu-login.active {
	padding-left: 30px;
	background: white url(../images/fatcow/16x16/door_open.png) no-repeat 7px 50%;
	}
#menu li #menu-home.active {
	padding-left: 30px;
	background: white url(../images/fatcow/16x16/house.png) no-repeat 7px 50%;
	}
#menu li #menu-whiteboard.active {
	padding-left: 30px;
	background: white url(../images/fatcow/16x16/legend.png) no-repeat 7px 50%;
	}
#menu li #menu-tasks.active {
	padding-left: 30px;
	background: white url(../images/fatcow/16x16/to_do_list.png) no-repeat 7px 50%;
	}
#menu li #menu-calendar.active {
	padding-left: 30px;
	background: white url(../images/fatcow/16x16/calendar.png) no-repeat 7px 50%;
	}

#menu-whiteboard-main {
	background-image: url(../images/fatcow/16x16/reseller_programm.png);
	}
#menu-whiteboard-day {
	background-image: url(../images/fatcow/16x16/calendar_view_day.png);
	}
#menu-whiteboard-week {
	background-image: url(../images/fatcow/16x16/calendar_view_week.png);
	}
#menu-whiteboard-new {
	background-image: url(../images/fatcow/16x16/billiard_marker.png);
	}
#menu-tasks-main {
	background-image: url(../images/fatcow/16x16/nameboard_open.png);
	}
#menu-tasks-history {
	background-image: url(../images/fatcow/16x16/report.png);
	}
#menu-tasks-new {
	background-image: url(../images/fatcow/16x16/page_add.png);
	}
#menu-calendar-month {
	background-image: url(../images/fatcow/16x16/calendar_view_month.png);
	}
#menu-calendar-week {
	background-image: url(../images/fatcow/16x16/calendar_view_week.png);
	}
#menu-calendar-day {
	background-image: url(../images/fatcow/16x16/calendar_view_day.png);
	}
#menu-calendar-holidays {
	background-image: url(../images/fatcow/16x16/christmas_tree.png);
	}

#menu-time-main {
	background-image:  url(../images/fatcow/16x16/time.png);
	}

#menu-time-history {
	background-image:  url(../images/fatcow/16x16/timeline.png);
	}

#menu-time-clockin {
	background-image:  url(../images/fatcow/16x16/flag_green.png);
	}

#menu-time-clockout {
	background-image:  url(../images/fatcow/16x16/flag_finish.png);
	}
