{#
	Macros that can be used as needed on pages.
#}

{% macro submenu(which) %}
{% set submenu = smcMenu(menu_active) %}
		<ul class="nav nav-tabs">
{% for item in submenu[which]['submenu'] %}
{% if item.submenu is not empty %}
			<li class="dropdown{{ item.active ? ' active' : '' }}">
				<a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}">
					{{ item.title }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
{% for subitem in item.submenu %}
					<li{{ subitem.active ? ' class="active"' : '' }}><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
{% endfor %}
				</ul>
			</li>
{% else %}
			<li{{ item.active ? ' class="active"' : '' }}><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endif %}
{% endfor %}
		</ul>
{%- endmacro %}

{% macro pagination(url, pages, current_page) %}

	{# todo #}

{%- endmacro %}